
<h1>Select an Adventure to Go on or Make one yourself .....</h1>


<% if @stories %>
	<% @stories.each do |story| %>
		<h3>Title: <%= link_to story.title, story_path(story) %></h3>
		<h4> Author: <%= story.author_first_name %> <%= story.author_last_name %></h4>
	<% end %>
<% end %>