
 
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @widget_template.name %>
</p>
<p>
  <strong>Class:</strong>
  <%= @widget_template.classtype %>
</p>


</table>

<br />


<%= link_to 'Back', pages_path %>