<h2>Bookish! </h2>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h2><%= @story.title %></h2>
<h3><%= @story.author_first_name %> <%= @story.author_last_name %>  </h3>