<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h2>Title: <%= @story.title %></h2>
<h3>Author: <%= @story.author_first_name %> <%= @story.author_last_name %>  </h3>